
.mdl-navigation a{
	border: 0;
}
.android-drawer-separator {
	height: 1px;
	background-color: #dcdcdc;
	margin: 8px 0;
}
.mdl-card{
	width: 100%;
}
.mdl-card--expand{
	min-height: 152px;
}
.mdl-card__actions{
	font-size: 80%;
}
.logo{
	opacity: .5;
	text-decoration: none;
	border: 0;
}
.logo img{ 
	padding-top: .3125em;
	width: 40px;
}
.style-guide-grid-example div div,
.style-guide-grid-example-3d div {
	background: #d0d0d0;
	border: 1px dashed #888;
	margin-top: .625em;
	margin-bottom: .625em;
	padding: 1em;
	text-align: center;
}
.codeExample:before{
	font-size: 80%;
}
.style-guide-grid-example-3d div>div{
	background: #d8d8d8;
}
.style-guide-grid-example-3d div>div>div{
	background: #e5e5e5;
}
.style-guide-grid-example-3d div>div>div>div{
	background: #f5f5f5;
}
.style-guide-grid-example-3d {
	height: 190px;
	overflow-y: auto;
}
.palette-Layout header{
	background-color: #107786;
}
.palette-Layout .sub-items li.active a,
.palette-Layout h1.styleguide{
	color: #107786;
}
.palette-Styles header{
	background-color: #D01170;
}
.palette-Styles .sub-items li.active a,
.palette-Styles h1.styleguide{
	color: #D01170;
}
.palette-Palettes header{
	background-color: #6B3670;
}
.palette-Palettes .sub-items li.active a,
.palette-Palettes h1.styleguide{
	color: #6B3670;
}
.palette-Templates header{
	background-color: #C74D0D;
}
.palette-Templates .sub-items li.active a,
.palette-Templates h1.styleguide{
	color: #C74D0D;
}
h1.styleguide{
	margin: .3125em 0;
	padding: 0;
	font-size: 300%;
}
table.styleguide,
div.codeExample{
	margin-bottom: 2.3125em;
}

@media only screen and (max-width: 40.063em){
.style-guide-grid-example-3d {
    overflow-y: scroll;
 }
}
.style-guide-grid-example-3d div{
	height: 80px;
}
.display .icon{
	text-align: center; 
	border: 1px dashed rgba(0,0,0,0.14);
	border-top: 0;
	border-left: 0;
	padding: .3125em;
	width: 16.6666%;
	display: block;
	float: left; /* IE 8<-10 */
}
.display .icon:nth-child(6n+0){
	border-right: 0;
}
.display .icon:before{
	padding-top: .3125em;
	font-size: 260%;
	color: #444;
	line-height: 1.5;
}
.display .icon:after{
	color: #888;
	display: block;
	content: attr(title);
	margin: .3125em;
	font-size: 80% !important;
	text-align: center; 
	word-break: break-all;  
}
.display .icon:hover:before,
.display .icon:hover:after {
	color: #d01170;
	cursor: pointer;
}
.flexContainer {
	padding-bottom: 2em;
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}
.flexItem{
	flex: 1;
}
.c-link-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.mdl-layout__drawer .subnav a.mdl-navigation__link{
	color: #2c2c2c;
	font-weight: 600;
}