.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-favourite-saved {
  width: 35px;
  height: 28px;
  background-position: 0 0;
}
.icon-favourite {
  width: 31px;
  height: 28px;
  background-position: -44px 0;
}
.icon-oakleaf-final {
  width: 20px;
  height: 28px;
  background-position: -88px 0;
}
.icon-chevron_right {
  width: 17px;
  height: 28px;
  background-position: -132px 0;
}
.icon-clock {
  width: 28px;
  height: 28px;
  background-position: -176px 0;
}
.icon-close {
  width: 28px;
  height: 28px;
  background-position: -220px 0;
}
.icon-cook-time {
  width: 28px;
  height: 28px;
  background-position: -264px 0;
}
.icon-activities {
  width: 28px;
  height: 28px;
  background-position: -308px 0;
}
.icon-cooking-difficulty {
  width: 28px;
  height: 28px;
  background-position: -352px 0;
}
.icon-facebook {
  width: 28px;
  height: 28px;
  background-position: -396px 0;
}
.icon-google-plus {
  width: 28px;
  height: 28px;
  background-position: -440px 0;
}
.icon-up_btn {
  width: 28px;
  height: 28px;
  background-position: -484px 0;
}
.icon-mobile-nav {
  width: 28px;
  height: 28px;
  background-position: -528px 0;
}
.icon-people {
  width: 28px;
  height: 28px;
  background-position: -572px 0;
}
.icon-pinterest {
  width: 28px;
  height: 28px;
  background-position: -616px 0;
}
.icon-cooking-prep {
  width: 28px;
  height: 28px;
  background-position: -660px 0;
}
.icon-quote-start {
  width: 28px;
  height: 28px;
  background-position: 0 -44px;
}
.icon-image-caption {
  width: 28px;
  height: 28px;
  background-position: -44px -44px;
}
.icon-search {
  width: 28px;
  height: 28px;
  background-position: -88px -44px;
}
.icon-share {
  width: 28px;
  height: 28px;
  background-position: -132px -44px;
}
.icon-twitter {
  width: 28px;
  height: 28px;
  background-position: -176px -44px;
}
.icon-external-link {
  width: 28px;
  height: 28px;
  background-position: -220px -44px;
}
.icon-information {
  width: 28px;
  height: 28px;
  background-position: -264px -44px;
}
.icon-logo {
  width: 28px;
  height: 28px;
  background-position: -308px -44px;
}
.icon-email {
  width: 28px;
  height: 28px;
  background-position: -352px -44px;
}
.icon-quote-end {
  width: 28px;
  height: 28px;
  background-position: -396px -44px;
}
.icon-adult {
  width: 28px;
  height: 28px;
  background-position: -440px -44px;
}
.icon-calendar {
  width: 28px;
  height: 28px;
  background-position: -484px -44px;
}
.icon-checked {
  width: 28px;
  height: 28px;
  background-position: -528px -44px;
}
.icon-chevron-down {
  width: 28px;
  height: 28px;
  background-position: -572px -44px;
}
.icon-chevron-left {
  width: 28px;
  height: 28px;
  background-position: -616px -44px;
}
.icon-chevron-up {
  width: 28px;
  height: 28px;
  background-position: -660px -44px;
}
.icon-date-picker {
  width: 28px;
  height: 28px;
  background-position: 0 -88px;
}
.icon-cooking-time {
  width: 28px;
  height: 28px;
  background-position: -44px -88px;
}
.icon-difficulty {
  width: 28px;
  height: 28px;
  background-position: -88px -88px;
}
.icon-directions {
  width: 28px;
  height: 28px;
  background-position: -132px -88px;
}
.icon-distance {
  width: 28px;
  height: 28px;
  background-position: -176px -88px;
}
.icon-down_btn {
  width: 28px;
  height: 28px;
  background-position: -220px -88px;
}
.icon-download {
  width: 28px;
  height: 28px;
  background-position: -264px -88px;
}
.icon-expand {
  width: 29px;
  height: 28px;
  background-position: -308px -88px;
}
.icon-facilities {
  width: 28px;
  height: 28px;
  background-position: -352px -88px;
}
.icon-family {
  width: 44px;
  height: 28px;
  background-position: -396px -88px;
}
.icon-group {
  width: 28px;
  height: 28px;
  background-position: -484px -88px;
}
.icon-instagram {
  width: 28px;
  height: 28px;
  background-position: -528px -88px;
}
.icon-location-detected {
  width: 28px;
  height: 28px;
  background-position: -572px -88px;
}
.icon-location-pin {
  width: 28px;
  height: 28px;
  background-position: -616px -88px;
}
.icon-location-searched {
  width: 28px;
  height: 28px;
  background-position: -660px -88px;
}
.icon-map {
  width: 28px;
  height: 28px;
  background-position: 0 -132px;
}
.icon-minus-btn {
  width: 28px;
  height: 28px;
  background-position: -44px -132px;
}
.icon-plus-btn {
  width: 28px;
  height: 28px;
  background-position: -88px -132px;
}
.icon-mountain {
  width: 28px;
  height: 28px;
  background-position: -132px -132px;
}
.icon-overview {
  width: 28px;
  height: 28px;
  background-position: -176px -132px;
}
.icon-places {
  width: 28px;
  height: 28px;
  background-position: -220px -132px;
}
.icon-plus {
  width: 28px;
  height: 28px;
  background-position: -264px -132px;
}
.icon-price {
  width: 28px;
  height: 28px;
  background-position: -308px -132px;
}
.icon-print-friendly {
  width: 28px;
  height: 28px;
  background-position: -352px -132px;
}
.icon-print {
  width: 28px;
  height: 28px;
  background-position: -396px -132px;
}
.icon-rss {
  width: 28px;
  height: 28px;
  background-position: -440px -132px;
}
.icon-terrain {
  width: 28px;
  height: 28px;
  background-position: -484px -132px;
}
.icon-unchecked {
  width: 28px;
  height: 28px;
  background-position: -528px -132px;
}
.icon-down-link {
  width: 28px;
  height: 28px;
  background-position: -572px -132px;
}
.icon-share2 {
  width: 28px;
  height: 28px;
  background-position: -616px -132px;
}
.icon-play {
  width: 28px;
  height: 28px;
  background-position: -660px -132px;
}
.icon-call {
  width: 28px;
  height: 28px;
  background-position: 0 -176px;
}
.icon-dog-walking {
  width: 28px;
  height: 28px;
  background-position: -44px -176px;
}
.icon-launch-and-recovery {
  width: 28px;
  height: 28px;
  background-position: -88px -176px;
}
.icon-safety {
  width: 28px;
  height: 28px;
  background-position: -132px -176px;
}
.icon-water-type {
  width: 28px;
  height: 28px;
  background-position: -176px -176px;
}
.icon-thank-you {
  width: 70px;
  height: 28px;
  background-position: -220px -176px;
}
.icon-national-trust-logo {
  width: 20px;
  height: 28px;
  background-position: -308px -176px;
}
.icon-youtube {
  width: 28px;
  height: 28px;
  background-position: -352px -176px;
}
.icon-cancel {
  width: 28px;
  height: 28px;
  background-position: -396px -176px;
}
.icon-add_calendar {
  width: 28px;
  height: 28px;
  background-position: -440px -176px;
}
.icon-w01_clear_sky_night {
  width: 28px;
  height: 28px;
  background-position: -484px -176px;
}
.icon-w02_cloudy_with_heavy_hail {
  width: 28px;
  height: 28px;
  background-position: -528px -176px;
}
.icon-w03_cloudy_with_heavy_rain {
  width: 28px;
  height: 28px;
  background-position: -572px -176px;
}
.icon-w04_cloudy_with_heavy_snow {
  width: 28px;
  height: 28px;
  background-position: -616px -176px;
}
.icon-w05_extreme_rain_showers_night {
  width: 28px;
  height: 28px;
  background-position: -660px -176px;
}
.icon-w06_fog {
  width: 28px;
  height: 28px;
  background-position: 0 -220px;
}
.icon-w07_heavy_drizzle {
  width: 28px;
  height: 28px;
  background-position: -44px -220px;
}
.icon-w08_heavy_hail_showers_night {
  width: 28px;
  height: 28px;
  background-position: -88px -220px;
}
.icon-w09_heavy_rain_showers_night {
  width: 28px;
  height: 28px;
  background-position: -132px -220px;
}
.icon-w10_heavy_rain_showers {
  width: 28px;
  height: 28px;
  background-position: -176px -220px;
}
.icon-w11_heavy_snow_showers_night {
  width: 28px;
  height: 28px;
  background-position: -220px -220px;
}
.icon-w12_light_rain_showers {
  width: 28px;
  height: 28px;
  background-position: -264px -220px;
}
.icon-w13_light_snow_showers {
  width: 28px;
  height: 28px;
  background-position: -308px -220px;
}
.icon-w14_partly_cloudy_night {
  width: 28px;
  height: 28px;
  background-position: -352px -220px;
}
.icon-w15_sunny_intervals {
  width: 28px;
  height: 28px;
  background-position: -396px -220px;
}
.icon-w16_sunny {
  width: 28px;
  height: 28px;
  background-position: -440px -220px;
}
.icon-w17_thunderstorms_with_snow {
  width: 28px;
  height: 28px;
  background-position: -484px -220px;
}
.icon-w18_thunderstorms {
  width: 28px;
  height: 28px;
  background-position: -528px -220px;
}
.icon-w19_thundery_showers_night {
  width: 28px;
  height: 28px;
  background-position: -572px -220px;
}
.icon-w20_thundery_showers {
  width: 28px;
  height: 28px;
  background-position: -616px -220px;
}
.icon-w21_thundery_snow_showers {
  width: 28px;
  height: 28px;
  background-position: -660px -220px;
}
.icon-w22_unknown {
  width: 28px;
  height: 28px;
  background-position: 0 -264px;
}
.icon-w23_white_cloud {
  width: 28px;
  height: 28px;
  background-position: -44px -264px;
}
.icon-w24_windy {
  width: 28px;
  height: 28px;
  background-position: -88px -264px;
}
.icon-joint {
  width: 28px;
  height: 28px;
  background-position: -132px -264px;
}
.icon-basket {
  width: 36px;
  height: 28px;
  background-position: -176px -264px;
}
.icon-profile {
  width: 25px;
  height: 28px;
  background-position: -220px -264px;
}
.icon-wheelchair {
  width: 28px;
  height: 28px;
  background-position: -264px -264px;
}
.icon-mobility_scooter {
  width: 28px;
  height: 28px;
  background-position: -308px -264px;
}
.icon-did-you-know {
  width: 127px;
  height: 28px;
  background-position: -352px -264px;
}
.icon-bed {
  width: 32px;
  height: 28px;
  background-position: -528px -264px;
}
.icon-fire {
  width: 22px;
  height: 28px;
  background-position: -572px -264px;
}
.icon-floorplan {
  width: 28px;
  height: 28px;
  background-position: -616px -264px;
}
.icon-bunkhouse {
  width: 20px;
  height: 28px;
  background-position: -660px -264px;
}
.icon-campsite {
  width: 20px;
  height: 28px;
  background-position: 0 -308px;
}
.icon-bothy {
  width: 20px;
  height: 28px;
  background-position: -44px -308px;
}
.icon-cottage {
  width: 20px;
  height: 28px;
  background-position: -88px -308px;
}
.icon-equalizer {
  width: 28px;
  height: 28px;
  background-position: -132px -308px;
}
.icon-equalizer2 {
  width: 28px;
  height: 28px;
  background-position: -176px -308px;
}
.icon-play2 {
  width: 28px;
  height: 28px;
  background-position: -220px -308px;
}
.icon-pause {
  width: 28px;
  height: 28px;
  background-position: -264px -308px;
}
.icon-bbq {
  width: 19px;
  height: 28px;
  background-position: -308px -308px;
}
.icon-shower {
  width: 26px;
  height: 28px;
  background-position: -352px -308px;
}
.icon-washing-up-area {
  width: 42px;
  height: 28px;
  background-position: -396px -308px;
}
.icon-toilets {
  width: 37px;
  height: 28px;
  background-position: -484px -308px;
}
.icon-chemical-disposal {
  width: 37px;
  height: 28px;
  background-position: -572px -308px;
}
.icon-hardstanding {
  width: 33px;
  height: 28px;
  background-position: 0 -352px;
}
.icon-laundry {
  width: 24px;
  height: 28px;
  background-position: -44px -352px;
}
.icon-electric-hook-up {
  width: 36px;
  height: 28px;
  background-position: -88px -352px;
}
.icon-play-area {
  width: 29px;
  height: 28px;
  background-position: -132px -352px;
}
.icon-wifi-hotspot {
  width: 35px;
  height: 28px;
  background-position: -176px -352px;
}
.icon-water-hook-up {
  width: 25px;
  height: 28px;
  background-position: -220px -352px;
}
.icon-campfires {
  width: 22px;
  height: 28px;
  background-position: -264px -352px;
}
.icon-heart {
  width: 32px;
  height: 28px;
  background-position: -308px -352px;
}
.icon-heart-outline {
  width: 31px;
  height: 28px;
  background-position: -352px -352px;
}

